
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--background-color-light);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 25px var(--background-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100; 
}

.logo{
    font-size: 2rem;
    font-weight: 800;
    color: var(--text-color);
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.logo span{
    color: var(--primary-color);
}
.logo:hover{
    color: var(--primary-color);
    transform: scale(1.1);
}

.nav-menu a{
    margin-left: 2rem;
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--text-color);
    transition: 0.3s ease-in-out;
    border-bottom: 3px solid transparent;
}

.nav-menu a:hover,
.nav-menu a.nav-active{
    color: var(--primary-color);
    border-bottom: 3px solid var(--primary-color);
}

#menu-icon{
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}