.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px;
    background-color: var(--primary-color);
}

.footer .social{
    text-align: center;
    padding-bottom: 25px;
    color: var(--background-color);
}

.footer .social a{
    font-size: 25px;
    color: var(--background-color);
    transition: 0.3s ease-in-out;
    border: 2px solid var(--background-color);
    width: 42px;
    height: 42px;
    line-height: 42px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 10px;
}

.footer .social a:hover{
    background-color: var(--primary-color);
    color: var(--background-color);
    transform: scale(1.1) translateY(-10px);
    box-shadow: 0 0 25px var(--primary-color);
}

.footer ul{
    margin-top: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}

.footer ul li a{
    color: var(--background-color);
    border-bottom: 3px solid transparent;
    transition: 0.3s ease-in-out;
}

.footer ul li a:hover{
    border-bottom: 3px solid var(--background-color);
}

.footer ul li{
    display: inline-block;
    padding: 0 15px; 
}

.footer .copyright{
    margin-top: 50px;
    text-align: center;
    font-size: 16px;
    color:var(--background-color);
}
